<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pin.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @pin.image %>
</p>

<p>
  <strong>Board:</strong>
  <%= @pin.board_id %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin) %> |
<%= link_to 'Back', pins_path %>
